<html>
  <head>
    <title>wabcampbookerstop</title>

  </head>

  <body>
    <h1>
      ようこそ
      <storong>Bookers</storong>
      へ！
    </h1>
    <p>
      <storong>Bookers</storong>
       では、さまざまな書籍に関するあなたの意見や
    </p>
    <p>
      印象を共有することができます
    </p>
    <p>
      <a href="/books/index">start</a>
    </p>
  </body>

</html>
